apiVersion: iam.aws.upbound.io/v1beta1
kind: Role
metadata:
  name: {{.Values.clusterName}}-karpenter
  namespace: {{.ReleaseNamespace}}
  labels:
      {{- include "labels.common" . | nindent 4 }}
spec:
  providerConfigRef:
    name: {{.Values.clusterName}}
  forProvider:
    tags:
      giantswarm.io/cluster: {{.Values.clusterName}}
      giantswarm.io/managed-by: {{ .Release.Name | quote }}
      sigs.k8s.io/cluster-api-provider-aws/cluster/{{.Values.clusterName}}: owned
    assumeRolePolicy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {{- $oidcDomains := include "oidcDomains" . | fromJsonArray -}}
          {{- range $index, $oidcDomain := $oidcDomains -}}
          {{- if not (eq $index 0) }}, {{ end }}{
            "Effect": "Allow",
            "Principal": {
              "Federated": "arn:{{$.Values.awsPartition}}:iam::{{$.Values.accountID}}:oidc-provider/{{$oidcDomain}}"
            },
            "Action": "sts:AssumeRoleWithWebIdentity",
            "Condition": {
              "StringLike": {
                "{{$oidcDomain}}:sub": "system:serviceaccount:*:*karpenter*"
              }
            }
          }
          {{- end }}
        ]
      }
    inlinePolicy:
      - name: karpenter-policy
        policy: |
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Effect": "Allow",
                "Resource": "*",
                "Action": [
                  "ec2:CreateFleet",
                  "ec2:CreateLaunchTemplate",
                  "ec2:CreateTags",
                  "ec2:DeleteLaunchTemplate",
                  "ec2:RunInstances",
                  "ec2:TerminateInstances",
                  "ec2:DescribeAvailabilityZones",
                  "ec2:DescribeImages",
                  "ec2:DescribeInstances",
                  "ec2:DescribeInstanceTypeOfferings",
                  "ec2:DescribeInstanceTypes",
                  "ec2:DescribeLaunchTemplates",
                  "ec2:DescribeSecurityGroups",
                  "ec2:DescribeSpotPriceHistory",
                  "ec2:DescribeSubnets",
                  "pricing:GetProducts",
                  "ssm:GetParameter",
                  "iam:ListInstanceProfiles"
                ]
              },
              {
                "Effect": "Allow",
                "Action": [
                  "sqs:DeleteMessage",
                  "sqs:GetQueueAttributes",
                  "sqs:GetQueueUrl",
                  "sqs:ReceiveMessage"
                ],
                "Resource": "arn:{{.Values.awsPartition}}:sqs:{{.Values.region}}:{{.Values.accountID}}:{{.Values.clusterName}}-karpenter"
              },
              {
                "Effect": "Allow",
                "Action": [
                  "iam:PassRole"
                ],
                "Resource": "{{ .Values.workersIamRole }}"
              }
            ]
          }
---
apiVersion: iam.aws.upbound.io/v1beta1
kind: Role
metadata:
  name: {{.Values.clusterName}}-karpenter-nodeclassgenerator
  namespace: {{.ReleaseNamespace}}
  labels:
      {{- include "labels.common" . | nindent 4 }}
spec:
  providerConfigRef:
    name: {{.Values.clusterName}}
  forProvider:
    tags:
      giantswarm.io/cluster: {{.Values.clusterName}}
      giantswarm.io/managed-by: {{ .Release.Name | quote }}
      sigs.k8s.io/cluster-api-provider-aws/cluster/{{.Values.clusterName}}: owned
    assumeRolePolicy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {{- $oidcDomains := include "oidcDomains" . | fromJsonArray -}}
          {{- range $index, $oidcDomain := $oidcDomains -}}
          {{- if not (eq $index 0) }}, {{ end }}{
            "Effect": "Allow",
            "Principal": {
              "Federated": "arn:{{$.Values.awsPartition}}:iam::{{$.Values.accountID}}:oidc-provider/{{$oidcDomain}}"
            },
            "Action": "sts:AssumeRoleWithWebIdentity",
            "Condition": {
              "StringLike": {
                "{{$oidcDomain}}:sub": "system:serviceaccount:*:*karpenter*"
              }
            }
          }
          {{- end }}
        ]
      }
    inlinePolicy:
      - name: karpenter-policy
        policy: |
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Effect": "Allow",
                "Resource": "*",
                "Action": [
                  "ec2:DescribeAutoScalingGroups",
                  "ec2:DescribeLaunchTemplates",
                  "ec2:DescribeLaunchTemplateVersions"
                ]
              }
            ]
          }
